# Text Analysis with Python

Textual analysis is an important tool in many fields today. With the raise of the internet and freely available data, it is easier than ever to download some text and analyse it. 

In this notebook, we will learn how to download some data from Twitter and use the pandas package to analyse it.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("data/twitter_CSR_user_timesline_2013.csv")
df.head()

,rowid,query,tweet_id,tweet_id_str,inserted_date,truncated,language,possibly_sensitive,coordinates,retweeted_status,...,retweeted_user_screen_name,retweeted_user_followers_count,retweeted_user_listed_count,retweeted_user_statuses_count,retweeted_user_location,retweeted_tweet_created_at,Fortune_2012_rank,Company,CSR_sustainability,specific_project_initiative_area
0,67340,humanavitality,306897327585652736,306897327585652736,2014-03-09 13:46:50.222857,0,en,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,79,Humana,0,1
1,39454,FundacionPfizer,308616393706844160,308616393706844160,2014-03-09 13:38:20.679967,0,es,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40,Pfizer,0,1
2,2812,FundacionPfizer,388441368324218881,388441368324218881,2014-01-11 20:02:04.509695,0,es,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40,Pfizer,0,1
3,51601,Intelinvolved,326836137731694592,326836137731694592,2014-03-09 13:41:32.077436,0,en,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51,Intel,1,0
4,54665,CiscoCSR,381770853824090112,381770853824090112,2014-03-09 13:42:42.821992,0,en,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,64,Cisco Systems,1,0

In [10]:
np.any(df.twitpic == 1)

True